<% provide :title, t("static_pages.about.title_about") %>
<h1>About</h1>
<p>
  The <a href="https://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> <%= t("static_pages.about.about_isa") %>
  <a href="https://www.railstutorial.org/book">book</a>
  <%= t("static_pages.about.about_and") %>
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  <%= t("static_pages.about.about_to") %>
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  <%= t("static_pages.about.about_tut") %>
</p>
