<% provide :title, t("static_pages.help.title_help") %>
<h1>Help</h1>
<p>
  <%= t("static_pages.help.help_how") %>
  <a href="https://www.railstutorial.org/help">Rails Tutorial help section</a>.
  <%= t("static_pages.help.help_see")%>
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
    <%= t("static_pages.help.help_book")%></a>.
</p>
