<% provide :title, t("static_pages.home.title_home") %>
<h1>Sample App</h1>
<p>
  <%= t ("static_pages.home.thishome") %>
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  <%= t ("static_pages.home.thisapp") %>
</p>
