<footer class="footer">
  <%= t ("layouts._footer.content_html") %>
  <nav>
    <ul>
      <li><%= link_to t("layouts._footer.about"), about_path %></li>
      <li><%= link_to t("layouts._footer.contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ("layouts._footer.news") %></a></li>
    </ul>
  </nav>
</footer>
